body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    
}

.Input{
    color: red;
    margin-left: 37.5%;
    margin-top: 0%;
}
.title{
    color: red;
    margin-left: 35%;
    margin-top: 20%;
}

